.button{
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 10px;
}
.text{
  padding-left: 100px;
  display: inline-block;
  color: brown;
  font-size: 50px;
}

.container{
  width: 60%;
  height: 500px;
  display: flex;
  margin-bottom: 50px;
}

.content{
  width: 50%;
  height: 100%;
}

.image{
  width: 50%;
  height: 100%;
  background-size: contain;
}

.image img{
  width: 100%;
  height: 100%;
}